.bannerInfo {
  color: #fff;
  line-height: 42px;
  font-size: 18px;
  cursor: "pointer";
}

.topItem {
  height: 120px;
  line-height: 120px;
  flex: 1;
  margin-top: 18px;
  text-align: center;
  justify-content: center;
  color: #fff;
}

.row {
  font-size: 18px;
  color: #999;
  text-align: left;
  height: 95px;
}
.home_title {
  font-size: 32px;
  margin-right: 20px;
  color: #000;
  display:inline-block;
}
.home_desc {
  margin-top: 53px;
  display: inline-block;
}
.home_more {
  margin-top: 53px;
  float: right;
}
