.App {
    .jobTitles{
        width: 1200px;
        height: 160px;
        background-color:#DDDDDD;
        margin:0 auto;
        display: flex;
        justify-content: center;
        align-items: center;  
    }
}
