.CompanyHome{
    .body{
        .site-layout{
            padding:0;
            margin:0 auto;
            background-color: #ffffff;
            .ant-layout-content{
                margin-left: 20px;
                .title{
                    height:60px;
                    background-color: #DDDDDD;
                    padding:20px;
                    font-weight:bold;
                    font-size:18px;
                }
                .MyPosition{
                    .title{
                     
                    }
                    .buttonArea{
                        display: flex;
                        flex-wrap: wrap;
                        height:50px;
                        margin-top:40px;
                        line-height: 50px;
                        font-size: 16px;
                        color: #888888;
                        button{
                            width:120px;
                            height:40px;
                            margin-right: 20px;
                        }
                    }
                    .titleRow{
                        border-bottom: 1px solid #DDDDDD;
                        display: flex;
                        flex-wrap: wrap;
                        font-size: 16px;
                        font-weight: bold;
                        color:#000000;
                        margin-bottom: 20px;
                        .titleIcon{
                            height:20px;
                            width:8px;
                            background-color: #00BBFF;
                            margin-bottom: 4px;
                            margin-right: 8px;
                        }
                    }
                    .container{
                        width:450px;
                        margin:0 auto;
                    }
                }
                .positionManagement{
                    .title{
                      
                    }
                    .stateArea{
                        margin-top:20px;
                        display: flex;
                        flex-wrap: wrap;
                        font-size: 18px;
                        color:#000000;
                        justify-content: space-around;
                    }
                }
                .MyInfor{
                    .container{
                        width:450px;
                        margin:0 auto;
                    }
                }
            }
        }
        #sub2\$Menu > li:nth-child(1){
            background-color: #FFFFFF;
        }
        #sub2\$Menu > li:nth-child(2){
            background-color: #FFFFFF;
        }
        #sub3\$Menu > li:nth-child(1){
            background-color: #FFFFFF;
        }
        #sub3\$Menu > li:nth-child(2){
            background-color: #FFFFFF;
        }
        .ant-menu-item {
            text-align: center;
            margin:0;
            background-color: #DDDDDD;
        }
        .ant-menu-submenu-title{
            margin:0;
        }
        .ant-menu-submenu{
            text-align: center;
            margin:0;
            background-color: #DDDDDD;
            .ant-menu-submenu-arrow{
               // right:0;
                margin-left: 4px;
            }
        }
    }
}
