
.SearchResult{
    text-align: center;
    .container{
        width:1200px;
        margin:0 auto;
    }
    .RoleSearch{
        height:160px;
        background-color:rgba(204, 204, 204, 0.3);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.course {
    .course-search{
        height:160px;
        background-color:rgba(204, 204, 204, 0.3);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .course-container {
        .list-course {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}