.trainRow{
    display:flex;
    width:1200px;
    height:310px;
    margin-bottom:69px;
}
.trainRow:first-child{
    display:flex;
    width:1200px;
    height:310px;
    margin-bottom:69px;
    margin-top:69px;
}
.trainTitle{
    width:1200px;
    height:31px;
    text-align: center;
}
.trainCard{
    float:left;
    width:280px;
    height:260px;
    margin-right:10px;
    border: 1px solid #CCCCCC;
}
.trainRow img{
    width:280px;
    height:170px;
}