
body, html{
    margin:0;
    padding:0;
    height:100%;
}
.ant-layout-header{
 padding: 0;
 height:400px;
}
.banner{
    height:200px;
    width:100%;
    margin-top:200px;
    background-image:url("../../assets/banner.jpg");
    background-repeat:no-repeat; 
    background-size:100% 100%;
    -moz-background-size:100% 100%;
}
.ant-layout-content{
    display: flex;
    justify-content: center;
}
.insideCon{
    width:1200px;
    background-color:red;
}
.bigTitle{
    display: flex;
    padding: 0px;
    height:200px;
    justify-content: center;
    align-items: center;
}
.topList{
    height:188px;
    background-color: blue;
}